*,
*::before,
*::after
 {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Open Sans';
}

body {
  display: flex;
}

aside {
  background-color: #354052;
  color: #8D98AA;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 15%;
}

aside p {
  font-size: 14px;
}

.employee-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.employee-picture {
  border-radius: 100%;
  background-image: url("images/albert_einstein_head.jpg");
  background-size: cover;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.aside3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.aside-cntr {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: flex-start;
}


.aside-icon{
  background-image: url("images/home-4-32.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-right: 20px;
}

.main-aside,
.admin,
.categories {
  width: 90%;
}

.categories-main-aside,
.admin-main-aside,
.main-main-aside {
  color: #546174;
  padding-top: 20px;
}

label {
  font-size: 12px;
}

.social-cntr,
.calendar-cntr {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 20px;
}

.admin-cb {
  background-color: yellow;
}


.right-side {
  width: 85%;
}

header,
.search-area,
.search-nav,
.graphs,
.main-section {
  width: 100%
}

.search-area {
  border-style: solid;
  border-color: #D4D8DB;
  border-width: 0 0 1px 0;
}

.search-container {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  height: 45px;
  width: 100%;
}

.hamburger-menu {
  height: 45px;
  min-width: 45px;
  border-width: 0 1px 0 0;
  border-style: solid ;
  border-color: #D4D8DB;
}

.hamburger-menu img,
.search-container img {
  height: 20px;
  width: 20px;
  margin:10px;
}

.search-area {
  display: flex;
}


.search-input {
  border: none;
  width: 100%;
}

.profile-menu,
.calendar-menu,
.display-menu {
  height: 45px;
  min-width: 45px;
  background-color: transparent;
}

.profile-menu {
  background-color: #16A4FA;
}

.profile-menu img,
.calendar-menu img,
.display-menu img {
  height: 25px;
  width: 25px;
  margin: 7.5px;
}

input {
  margin-right: 10px;
}

.header-nav {
  height: 120px;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 20px;
  font-family: Open Sans;
  font weight: 600;
  color: #344151;
}

.location {
  display: flex;
  align-content: center;
  height: 48px;
  margin-bottom: 20px;
}

h5 {
  margin-top: 10px;
}

.location img {
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 20px;
  height: 14px;
  width: 14px;
}

.preview-post {
  color: #16A4F9;
}

.header-btns-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-right: 10px;
}

.bookmark-btn,
.write-btn,
.trash-btn {
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: transparent;
  background-position: center;
  border-radius: 50%;
  border-color: #D4D8DB;
  border-style: solid;
  margin-right: 10px;
}

.open-icon {
  margin-right: 5px;
  margin-left: 2px;
}

.open-btn {
  width: 90px;
  height: 34px;
  border-color: #D4D8DB;
  border-style: solid;
  background-color: transparent;
  border-radius: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0px;
}

.trash-btn {
  background-image: url("images/trash-2-16.png");
}

.write-btn {
  background-image: url("images/pencil-2-16.png");
}

.bookmark-btn {
  background-image: url("images/bookmark-5-16.png");
}

.page-links {
  display: flex;
  margin-left: 20px;
}

.pg-lnk {
  margin-right: 20px;
  margin-bottom: 30px;
}

.side-nav {
  display: none;
  background-color: purple;
}

.graphs {
  display: flex;
  background-color: #EDF2F6;
}

.circle-graphs {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.applicants-circle,
.interviews-circle,
.forwards-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  background-color: transparent;
  border-radius: 50%;
  border-color: #D4D8DB;
  border-style: solid;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 10px;
}

.applicants-circle {
  border-color: #44B4C0 #44B4C0 #D4D8DB #D4D8DB;
}

.interviews-circle {
  border-color: #16A4F9 #16A4F9 #16A4F9 #D4D8DB;
}

.forwards-circle {
  border-color: #FF00FF #D4D8DB #D4D8DB #D4D8DB;
}

.graph-number {
  font-size: 26px;
  font-weight: 700;
}

.bar-graph {
  width: 40%;
  background-image: url("images/graph.png");
  background-size: cover;
}

.totals-container {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #EDF2F6;
}

.circle-tots-cntr,
.bar-totals-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-tots-cntr {
  width: 60%;
}

.bar-totals-cntr {
  width: 40%;
}

.bar-totals,
.circle-totals {
  height: 45px;
  border-color: #D4D8DB;
  border-style: solid;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-totals {
  width: 300px;
}

.bar-totals {
  width: 200px;
}

.main-section {
  background-color: #EDF2F6;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}

.job-descript {
  width: 70%;
  background-color: #EDF2F6;
  display: flex;
  justify-content: center;
}


.job-listing {
  width: 90%;
  height: 750px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.job-listing-header {
  background-color: #6F7E95;
  height: 50px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.job-listing-body {
  display: flex;
}

.job-listing-header p {
  margin-right: 10px;
}

.job-body-title {
  width: 25%;
}

.job-body-result {
  width: 75%;
  padding-right: 5px;
}

.job-body-result p {
  color: #8D94A5;
  border-bottom: 2px solid #D4D8DB;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 12px;
  width: 90%;
}

.main-title {
  color: #8D94A5;
  border-bottom: 2px solid #D4D8DB;
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 20px;
}

.description {
  padding-bottom: 72px;
}


.edit-job-btn {
  width: 64px;
  height: 28px;
  background-color: #7886A0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-job-btn p {
  font-size: 12px;
  margin: 2px;
}

.edit-job-icon {
  width: 12px;
  height: 12px;
  margin-left: 2px;
}

.link-area {
  width: 30%;
  background-color: #EDF2F6;
}

.link-btn {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.link-icon {
  height: 16px;
  width: 16px;
}

.link-text {
  display: flex;
  justify-content: center;
  width: 190px;
  font-size: 14px;
}

.facebook-btn {
  background-color: #4C72C4;
}

.twitter-btn {
  background-color: #01A8EF;
}

.linkedin-btn {
  background-color: #017EBD;
}

.resumes-cntr,
.button-widget-cntr,
.job-post-cntr {
  width: 90%;
  color: #767C85;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.resumes-header,
.button-widget-header,
.job-post-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.resumes-header img,
.button-widget-header img,
.job-post-header img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 2px;
}

.resumes-cntr p,
.button-widget-cntr p,
.job-post-cntr p {
  font-size: 14px;
}

.resumes-area,
.button-widget-area,
.link-text-area {
  height: 45px;
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.resumes-copy,
.button-widget-copy,
.link-text-copy {
  width: 75%;
}

.button-widget-btn,
.link-area-btn {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43B8BE;
}
